@import "fonts/OpenSans-Regular.ttf";
@import "fonts/OpenSans-Bold.ttf";

ul{
    list-style-type: none;
    margin: 0;
    padding: 8px 0px;
}

*{
    color: white;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
}
.encabezado{
    display: table;
    top: 0px;
    height: 20vh; /*vh es una medida similar al porcentaje, usado para dar alturas a un objeto.
    por ejemplo, 15vh equivale a una altura de 15% de la pantalla del dispositivo*/
    width: 100%;
    background: #535353;
}

.encabezado h1{
    display: table-cell;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    font-size: 40px;
}

a{
    color: #1da1f2;
}

body{
    margin: 0px;
    background: url("../images/splash.jpg");
    background-size: cover;
}

footer{
    position: absolute;
    bottom: 0px;
    z-index: -10000;
    min-height: 90px;
    text-align: center;
    font-size: 13px;
    width: 100%;
    background: #535353;
}

.accordion-container{
    width: 95%;
    margin: 15px;
    
}

#accordion-desktop{
    display: block;
}

#accordion-mobile{
    display: none; /* oculta el menú móvil por defecto*/
}

.accordion{
    margin: auto;
    background: #535353;
    border: none;
    outline: none;
    font-weight: bold;
    cursor: pointer;
}

#accordion-desktop .accordion{
    width: 46%;
    min-height: 65px;
    font-size: 28px;
}

#accordion-mobile .accordion{
    width: 100%;
    min-height: 80px;
    font-size: 44px;
    border: 3px solid rgb(124, 124, 124);
}
#accordion-mobile .panel{
    display: none;
    overflow: hidden;
}
#accordion-mobile .panel li{
    height: 45px;
}


.panel{
    text-align: center;
    z-index: 100000;
    background-color: #282828;
}

#accordion-desktop .panel{
    width: 46%;
}

.panel li{
    padding: 6px;
}

#bloque-izq, #pan-izq{
    float: left;
}

#pan-izq, #pan-der, #pan-ult{
    display: none;
}

#bloque-der, #pan-der{
    float: right;
}


#bloque-ult{
    margin: 20px auto 0px;
    width: 100% !important;
}

#pan-ult{
    margin: auto;
    width: 100% !important;
}

@media only screen and (max-width: 720px){
    /*
    pantallas móviles
    *una versión para tablets parece no ser necesaria para este caso
    */
    #accordion-desktop{
        display: none;
    }
    #accordion-mobile{
        display: block;
    }
    .extradet{
        display: none;
    }
    .encabezado{
        height: 30vh;
    }
    
    .encabezado h1{
        font-size: 40px;
    }
}